<%- layout('layouts/boilerPlate.ejs') %>
<h1>Update Campgrounds</h1>
<form action="/campgrounds/edit/<%= campground.id %>" method="POST">
  <label for="title">Title :</label>
  <input name="campground[title]" type="text" value="<%= campground.title %>" />
  <label for="location">Location :</label>
  <input
    name="campground[location]"
    type="text"
    value="<%= campground.location %>"
  />
  <button type="submit">Update</button>
</form>
<a href="/campgrounds"><h2>All Campgrounds</h2></a>
