<%- layout('layouts/boilerPlate.ejs') %>
<div class="p-2">
  <h1>New Campground</h1>
</div>
<form class="mb-3" action="/campgrounds" method="POST">
  <div class="mb-3">
    <label class="form-label" for="title">Title :</label>
    <input class="form-control" name="campground[title]" type="text" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="location">Location :</label>
    <input class="form-control" name="campground[location]" type="text" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">description :</label>
    <textarea
      class="form-control"
      name="campground[description]"
      type="text"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price :</label>
    <div class="input-group">
      <span class="input-group-text">$</span>
      <input
        type="text"
        class="form-control"
        name="campground[price]"
        aria-label="Amount (to the nearest dollar)"
      />
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="image">Image Url :</label>
    <input class="form-control" type="text" name="campground[image]" />
  </div>
  <button class="btn btn-success">Create New</button>
</form>
<a href="/campgrounds">All Campgrounds</a>
